/* * {
  margin: 0;
  padding: 0;
} */
#book-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  align-items: stretch;
  text-align: left;
  max-width: 80%;
  min-width: 85%;
}
#book-list > li {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;
  height: 30px;
  align-items: center;
  width: 100%;
}
#book-list > li::before {
  content: "â–";
  position: absolute;
  top: 0;
  line-height: 30px;
  left: -16px;
}
#book-list > li > button:nth-of-type(1) {
  margin-right: 0;
  margin-left: auto;
  /* background-color: aqua; */
}
